.home {
  display: flex;
  flex-direction: column;

}

.topPane {
  display: grid;
  justify-items: center;
  gap: 1.5rem;

  margin: 1rem 0;
  padding: 2rem 1rem;

  background-image: linear-gradient(to right, DodgerBlue, BlueViolet);

  border-radius: 0.5rem;

  color: white;
}

.topPane span {
  text-align: center;
}

.text {
  font-size: 2rem;
  font-weight: bold;
}

.subText {
  font-size: 1.2rem;
}

.button {
  padding: 0.5rem 2rem;

  border: 0;
  border-radius: 10rem;

  font-size: 1rem;

  color: DodgerBlue;
}

.theSell {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  text-align: center;
}

.theSell div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem 0;

  background-color: whitesmoke;

  border-radius: 0.5rem;

  font-weight: bold;
}

.theSell img {
  width: 20%;
  max-width: 10rem;
  max-height: 100%;
  object-fit: contain;

  margin-bottom: 1rem;
}

@media only screen and (max-width: 900px) {
  .theSell {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .theSell {
    grid-template-columns: repeat(2, 1fr);
  }
  .theSell div:last-child {
    grid-area: 2 / 1 / 3 / 3;
  }
}