.button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 0 0 1rem;
  padding: 0.5rem;
  background: BlueViolet;

  border: 0;
  border-radius: 50%;
}

.img {
  max-width: 1rem;

  filter: invert(1);
}
