.header {
  display: flex;
  align-items: center;

  margin: 0 0 1rem 0;
  padding: 0.5rem 0;

  color: DodgerBlue;
}

.shopName {
  font-size: 1.8rem;
  margin:0;
}

.shopName:hover {
  user-select: none;
}

.shopNameLink {
  color: inherit;
  margin: 0 auto 0 0;
  text-decoration: none;
}
