.header {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0.5rem 0;

  color: DodgerBlue;
}

.shopName {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.shopName:hover {
  user-select: none;
}
